@model AquariumMVC.Models.Order

@{
    ViewData["Title"] = "goCheck";
    Layout = "~/Views/Shared/_Layout_member.cshtml";
}
@{
    var total = ViewBag.Total as string;
}

<h1>goCheck</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="goCheck">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Receiver" class="control-label">收件人</label>
                <input asp-for="Receiver" class="form-control" />
                <span asp-validation-for="Receiver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverTel" class="control-label">收件人電話</label>
                <input asp-for="ReceiverTel" class="form-control" />
                <span asp-validation-for="ReceiverTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">地址</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <span><input type="hidden" name="total" value="@total" /></span>
            <span><input type="hidden" asp-for="total_price" name="total_price" value="@total" /></span>
            <div class="form-group">
                <input type="submit" value="確定" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回首頁</a>
</div>

