@model AquariumMVC.Models.alldetail

@{
    ViewData["Title"] = "editProductDetailData";
    Layout = "~/Views/Shared/admin.cshtml";
}
@if (ViewBag.msg != null)
{
    <script>
        window.onload = function () {
            var msg = "@Html.Raw(ViewBag.msg)";
            alert(msg);

        };
    </script>
}
<h1>editProductDetailData</h1>

<h4>alldetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="editProductDetailData" enctype="multipart/form-data">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="A_id" />
            <div class="form-group">
                <label asp-for="P_id" class="control-label"></label>
                <input asp-for="P_id" class="form-control" />
                <span asp-validation-for="P_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <textarea asp-for="Memo" class="form-control"></textarea>
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <div>
                    @if (Model.Img != null)
                    {
                        <img src="@Url.Content($"~/images/{Model.Img}")" class="current-image" alt="Current Image" />
                    }
                </div>
                <input asp-for="Img" type="file" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Kind" class="control-label"></label>
                <input asp-for="Kind" class="form-control" />
                <span asp-validation-for="Kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="editProduct">回到編輯</a>
</div>

